dist: xenial   # required for Python >= 3.7
language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
os:
  - linux
  - osx
  - windows
install:
  - pip install -r requirements.txt
  - pip install safety
script:
  - pytest -v --cov-report term --cov=tests/
  - safety check -r requirements.txt
after_success:
    - codecov

